<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_shop_root"
        name="Shop"
        sequence="10"/>
    
    <menuitem id="menu_shop_operations"
        name="Operations"
        parent="menu_shop_root"
        sequence="10"
        action="action_shop_config_settings"/> 
    
</odoo>
